:host {
  max-width: 320px;
}

.container {
  padding-top: 40px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  &-title {
    text-align: center;
  }
}

mat-form-field {
  width: 100%;
}

.row {

  margin-top: 12px;

  button:not(:last-child) {
    margin-right: 16px;
  }
}
