.row {
  display: flex;
  flex-direction: row;

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 1024px;
}
