<mat-card class="hw-card">
  <mat-card-header>
    <div mat-card-avatar class="hw-icon">
      <mat-icon>{{ iconName }}</mat-icon>
    </div>
    <mat-card-title>{{ hw.manufacturer }}</mat-card-title>
    <mat-card-subtitle>{{ hw.name }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="hw.filePath || defaultPath" alt="" width="288px" />
  <mat-card-content>
    <p>{{ hw.manufacturer }}</p>
    <p>{{ hw.produceYear }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Read more</button>
  </mat-card-actions>
</mat-card>
