.hw {
  &-card {
    max-width: 266px;
    margin: 16px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all 0.3s;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #3f51b5;
    font-size: 36px;
  }
}
