<h2 class="form-title">Registration</h2>
<form *ngIf="registratioFormService.form$ | async as form" [formGroup]="form" (submit)="register()" class="form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input formControlName="name" matInput autocomplete="off">
    <mat-error *ngIf="form.get('name').hasError('required')">
      Username is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput autocomplete="off">
    <mat-error *ngIf="form.get('email').hasError('required')">
      Email is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="form.get('email').hasError('email')">
      Please, enter a valid email address.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput autocomplete="off">
    <mat-error *ngIf="form.get('password').hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <div class="row row--space-around">
    <button type="submit" mat-raised-button color="primary">Sign Up</button>
  </div>
</form>
