<button (click)="show($event)">open overlay</button>

<ng-container *ngIf="regionsTree">
  <ng-container *ngFor="let regionComponent of regionsTree">
    <h3 style="color: brown">{{ regionComponent.name }}</h3>
    <p *ngFor="let item of regionComponent.children">
      <input
        #inp
        type="checkbox"
        [value]="item.id"
        [checked]="item.checked"
        (change)="item.checked = !item.checked; printToConsole()"
      />{{ item.name }}{{ inp.value }}
    </p>
  </ng-container>
</ng-container>
