:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.create-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
}

.form-control {
  margin-bottom: 12px;
}

.file-uploader {
  margin-top: 12px;
}
